<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Music_Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Music_Portal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Music_Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if(Context.Session.GetString("Login") == null)
                    {
                    @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"> *@
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Login, "Login", "Home", null, new {@class = "navbar-brand"})
                            
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Вход</a> *@
                        @* </li>
                        <li class="nav-item"> *@
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Registration, "Registration", "Home", null, new {@class = "navbar-brand"})
                            @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Регистрация</a> *@
                        @* </li>
                        <li class="nav-item"> *@
                            @using(Html.BeginForm("ChangeCulture", "Home")){
                                <select name="lang" class="form-control">
                                    <option value="ru">Русский</option>
                                    <option value="uk">Українська</option>
                                    <option value="en">English</option>
                                </select>
                                <input type="submit" name="submit" value="@Music_Portal.Resources.Resource.ChooseLang" class="btn btn-default"/>
                            }

                        @* </li>
                    </ul> *@
                    }
                    else{
                        if (Context.Session.GetString("Login") == "admin")
                        {
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           @Html.ActionLink(@Music_Portal.Resources.Resource.AddSong, "AddSong", "Home", null, new {@class = "navbar-brand"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(@Music_Portal.Resources.Resource.AllUsers, "UsersList", "Home", null, new {@class = "navbar-brand"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Styles, "StylesToList", "Admin", null, new {@class = "navbar-brand"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Singers, "SingersToList", "Admin", null, new {@class = "navbar-brand"})
                        </li>
                        </ul>
                            @Context.Session.GetString("Login")
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Exit, "Logout", "Home", null, new {@class = "navbar-brand"})
                        }
                        else{
                        <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink(@Music_Portal.Resources.Resource.AddSong, "AddSong", "Home", null, new {@class = "navbar-brand"})
                        </li>
                        </ul>
                            @Context.Session.GetString("Login")
                            @Html.ActionLink(@Music_Portal.Resources.Resource.Exit, "Logout", "Home", null, new {@class = "navbar-brand"})
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Music_Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
