@model Music_Portal.Models.IndexViewModelSinger

@{
    ViewBag.Title = @Music_Portal.Resources.Resource.Singers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="font" style="font-size: 32px; padding-top: 33px;">@Music_Portal.Resources.Resource.Singers</p>
    <a asp-action="AddSinger">@Music_Portal.Resources.Resource.AddSinger</a>
    <br />
    <br />
    <div style="background-color: #374566; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black; border-radius: 15px;">
        <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="SingersToList"  asp-route-sortOrder="@(Model.SortViewModel.NameSort)" class="font" style="color: white">@Music_Portal.Resources.Resource.Name</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var t in Model.Singers)
                {
                   <tr>
                       <td style="color: white" class="font">@Html.DisplayFor(modelItem=>t.Name)</td>
                       <td>
                           <a asp-action="EditSinger" asp-route-id="@t.Id" style="color: white">@Music_Portal.Resources.Resource.Edit</a>
                           <a asp-action="DeleteSinger" asp-route-id="@t.Id" style="color: white">@Music_Portal.Resources.Resource.Delete</a>
                       </td>
                   </tr> 
                }
            }
        </tbody>
    </table>
    <br />
    </div>
</div>
<br />
<p>
	@if (Model.PageViewModel.HasPreviousPage)
	{
		<a asp-action="SingersToList" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
		asp-route-sortorder="@(Model.SortViewModel.Current)" 
		class="glyphicon glyphicon-chevron-left">
			@Music_Portal.Resources.Resource.Back
	    </a>
	}
	@if (Model.PageViewModel.HasNextPage)
	{
		<a asp-action="SingersToList" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
		asp-route-sortorder="@(Model.SortViewModel.Current)" 
		class="glyphicon glyphicon-chevron-right">
			@Music_Portal.Resources.Resource.Forward
	    </a>
	}

</p>
