@model Music_Portal.Models.Song

@{
    ViewBag.Title = @Music_Portal.Resources.Resource.AddSong2;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Добавление песни</title>
</head>
<body>
    <div style="background-color: #374566; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black; border-radius: 15px; width: 500px">
    <p class="font" style="font-size: 32px; color: white; padding-top: 30px; text-align: center">@Music_Portal.Resources.Resource.AddSong2</p>
    <hr style="color:white"/>
    <div class="row" >
    <div class="col-md-4" style="width: 500px">
        <br />
        <form asp-action="AddSong" enctype="multipart/form-data" style="margin: 20px; margin-left: 50px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: white"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album" class="control-label" style="color: white"></label>
                <input asp-for="Album" class="form-control" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label" style="color: white"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <br />
             <div>
                 <input type="file" accept="video/mp4, video/*" name="uploadedVideo"  style="color: white"/><br>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label" style="color: white"></label>
                <select asp-for="StyleId" class ="form-control" asp-items="ViewBag.StyleId"></select>
                <a class="nav-link" style="color: white;text-decoration: underline" class="font" asp-area="" asp-controller="Admin" asp-action="AddStyle" >@Music_Portal.Resources.Resource.AddStyle</a>
            </div>
            <div class="form-group">
                <label asp-for="Singer" class="control-label" style="color: white"></label>
                <select asp-for="SingerId" class ="form-control" asp-items="ViewBag.SingerId"></select>
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AddSinger" style="color: white; text-decoration: underline" class="font">@Music_Portal.Resources.Resource.AddSinger</a>
            </div>
            <br />
            <div class="form-group" style="margin-left: 150px">
                <input type="submit" value="@Music_Portal.Resources.Resource.Send" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>
</div>
<br />
<div>
    <a asp-action="Index"style="text-decoration:none; color: #133abd;">&lt;&lt;@Music_Portal.Resources.Resource.BackToList</a>
</div>

</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}