@model Music_Portal.Models.IndexViewModelSong

@{
	ViewBag.Title = @Music_Portal.Resources.Resource.SongsToList;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
	
	<table>
		<tr>
			<p class="font" style="font-size: 24px">@Music_Portal.Resources.Resource.SortBy</p>
		</tr>
		<tr>
			<td>
				<div style="margin-right: 10px; font-size: 22px;">
				<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.NameSort)" class="font" style="color: black">@Music_Portal.Resources.Resource.Name</a>
				</div>
			</td>
			<td>
				<div style="margin-right: 10px; font-size: 22px;">
				<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.SingerSort)" class="font" style="color: black">@Music_Portal.Resources.Resource.Singer</a>
				</div>
			</td>
			<td>
				<div style="margin-right: 10px; font-size: 22px;">
				<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.StyleSort)" class="font" style="color: black">@Music_Portal.Resources.Resource.Style</a>
				</div>
			</td>
			<td>
				<div style="margin-right: 10px; font-size: 22px;">
				<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.AlbumSort)" class="font" style="color: black">@Music_Portal.Resources.Resource.Album</a>
				</div>
			</td>
			<td>
				<div style="margin-right: 10px; font-size: 22px;">
				<a asp-action="Index"  asp-route-sortOrder="@(Model.SortViewModel.YearSort)" class="font" style="color: black">@Music_Portal.Resources.Resource.Year</a>
				</div>
			</td>
		</tr>
	</table>
	@foreach (var t in Model.Songs)
	{
		<div style="background-color:#374566; border-radius: 15px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em black;">
		<p class="font" style="font-size: 36px; text-align:center; text-shadow: 1px 1px 2px grey; color:white; margin-top: 10px;">@Html.DisplayFor(modelItem=>t.Name)</p>
		<table>
			<tr>
				<td>
					<div style="text-align: center">
						<video controls width="700" style="margin: 40px">
							<source src="@Url.Content(t.Video)" type="video/mp4">
						</video>
					</div>
				</td>
				<td>
					<div>
						<table>
							<tr>
								<td class="font"style="font-size: 22px; color:white">@Music_Portal.Resources.Resource.Singer: &nbsp;@Html.DisplayFor(modelItem=>t.Singer.Name)</td>
							</tr>
							<tr>
								<td class="font"style="font-size: 22px; color:white">@Music_Portal.Resources.Resource.Year: &nbsp;@Html.DisplayFor(modelItem=>t.ReleaseYear)</td>
							</tr>
							<tr>
								<td class="font"style="font-size: 22px; color:white">@Music_Portal.Resources.Resource.Album: &nbsp;@Html.DisplayFor(modelItem=>t.Album)</td>
							</tr>
							<tr>
								<td class="font"style="font-size: 22px; color:white">@Music_Portal.Resources.Resource.Style: &nbsp;@Html.DisplayFor(modelItem=>t.Style.Name)</td>
							</tr>
							<tr>
								<td class="font"style="font-size: 22px; color:white">@Music_Portal.Resources.Resource.Published: &nbsp;@Html.DisplayFor(modelItem=>t.Publisher.Login)</td>
							</tr>
						</table>
						<a asp-action="EditSong" asp-route-id="@t.Id" style="color: #b4b5b8; font-size: 20px;" class="font">@Music_Portal.Resources.Resource.Edit</a>&nbsp; &nbsp;
                        <a asp-action="DeleteSong" asp-route-id="@t.Id" style="color: #b4b5b8; font-size: 20px;" class="font">@Music_Portal.Resources.Resource.Delete</a>
					</div>
				</td>
			</tr>
		</table>
		</div>
		<br />
	}
}
<br />
<p>
	@if (Model.PageViewModel.HasPreviousPage)
	{
		<a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
		asp-route-sortorder="@(Model.SortViewModel.Current)" 
		class="glyphicon glyphicon-chevron-left">
			@Music_Portal.Resources.Resource.Back
	    </a>
	}
	@if (Model.PageViewModel.HasNextPage)
	{
		<a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
		asp-route-sortorder="@(Model.SortViewModel.Current)" 
		class="glyphicon glyphicon-chevron-right">
			@Music_Portal.Resources.Resource.Forward
	    </a>
	}

</p>